cpaas/examples/account_flow.json
[{"id":"4144e6e0.73a6c8","type":"tab","label":"Account Workflow","disabled":false,"info":""},{"id":"435b4008.195eb","type":"cpaas/Account","z":"4144e6e0.73a6c8","cpaasBroker":"36a1af9c.a66f4","name":"","x":340,"y":160,"wires":[["285c1f54.7400b","c44721c4.731ba","fd7396d1.9b4198","6d6be1b.a2b2d2","f3c9a1c4.60a01","ef2e8235.9b8b2"]]},{"id":"e45b71ee.859e7","type":"inject","z":"4144e6e0.73a6c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"60","topic":"","payload":"","payloadType":"date","x":180,"y":160,"wires":[["435b4008.195eb"]]},{"id":"285c1f54.7400b","type":"debug","z":"4144e6e0.73a6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":160,"wires":[]},{"id":"c44721c4.731ba","type":"ui_text","z":"4144e6e0.73a6c8","group":"448f1b87.d99d34","order":0,"width":0,"height":0,"name":"Status","label":"Status","format":"{{msg.payload.status}}","layout":"row-spread","x":570,"y":280,"wires":[]},{"id":"fd7396d1.9b4198","type":"ui_text","z":"4144e6e0.73a6c8","group":"448f1b87.d99d34","order":1,"width":0,"height":0,"name":"Balance","label":"Balance","format":"{{msg.payload. account_balance}}","layout":"row-spread","x":580,"y":340,"wires":[]},{"id":"6d6be1b.a2b2d2","type":"ui_text","z":"4144e6e0.73a6c8","group":"448f1b87.d99d34","order":2,"width":0,"height":0,"name":"Type","label":"Type","format":"{{msg.payload. type}}","layout":"row-spread","x":570,"y":420,"wires":[]},{"id":"f3c9a1c4.60a01","type":"ui_text","z":"4144e6e0.73a6c8","group":"448f1b87.d99d34","order":3,"width":0,"height":0,"name":"Name","label":"Name","format":"{{msg.payload. friendly_name}}","layout":"row-spread","x":570,"y":500,"wires":[]},{"id":"ef2e8235.9b8b2","type":"ui_text","z":"4144e6e0.73a6c8","group":"448f1b87.d99d34","order":4,"width":0,"height":0,"name":"TimeZone","label":"TimeZone","format":"{{msg.payload.time_zone}}","layout":"row-spread","x":580,"y":560,"wires":[]},{"id":"36a1af9c.a66f4","type":"cpaas-broker","z":"","name":"Default ACC","sid":"AC777c3e32056090dfb8e74cb9bfd79aba","from":"+44 1274 790114"},{"id":"448f1b87.d99d34","type":"ui_group","z":"","name":"Account Details","tab":"54112306.62e6ec","order":1,"disp":true,"width":"6","collapse":false},{"id":"54112306.62e6ec","type":"ui_tab","z":"","name":"Avaya (CPAAS) Home","icon":"dashboard","disabled":false,"hidden":false}]